<% provide(:title, "Profile") %> 

<h1> Profile </h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<p>
  <strong>Gems:</strong>
  <%= @user.gems %>
</p>

<br>

<h1> Items </h1>

<h2> Coins </h2>

<table>
  <thead>
    <tr>
      <th>Denomination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.denomination %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2> Die </h2>

<table>
  <thead>
    <tr>
      <th>Colour</th>
      <th>Sides</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dies.each do |die| %>
      <tr>
        <td><%= die.colour %></td>
        <td><%= die.sides %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Play Game', game_path%>
<br>

<%= link_to 'Sign Out', sign_out_path %>
<br>

<%= link_to 'Delete Account', delete_user_path%>

