<% provide(:title, "Profile") %> 

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<p>
  <strong>Gems:</strong>
  <%= @user.gems %>
</p>

<%= link_to 'Sign Out', sign_out_path %>

<%= link_to 'Delete Account', delete_user_path%>