<% provide(:title, "Profile") %> 

<h1> Profile </h1><br>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<p>
  <strong>Gems:</strong>
  <%= @user.gems %>
</p>

<h1> Items </h1> <br>

<h2> Coins </h2>

<tbody>
  <% @coins.each do |coin| %>
    <tr>
      <td><%= coin.denomination %></td>
    </tr>
  <% end %>
</tbody>

<h2> Die </h2>

<tbody>
  <% @dies.each do |die| %>
    <tr>
      <td><%= die.colour %></td>
      <td><%= die.sides %></td>
    </tr>
  <% end %>
</tbody>

<%= link_to 'Sign Out', sign_out_path %>

<%= link_to 'Delete Account', delete_user_path%>