<% provide(:title, "Register") %> 


<h1>Sign in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <!-- create hash for session->:email and session->:password -->
    <%= form_with(url: sign_in_path, scope: :session, local: true) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.submit "Sign in", class: "btn btn-primary" %> <% end %> 
  </div>
</div>

<p><i>Don't have an account? Sign up below!</i></p>
